body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 20px;
    padding: 0;
    color: #333;
}

main {
    align-content: center;
    width: 80%;
}

.navigation {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

a {
    color: #245280;
    text-decoration: none;
    font-size: 15px;

}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

h2 {
    color: black;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icone {
    width: 90px;
    height: auto;
    border-radius: 20px
}

.filtres {
    margin-bottom: 20px;
    font-weight: bold;
}

.categories {
    font-size: small;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}

.filtres label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.filtres select,
.filtres input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    margin-bottom: 10px;
}

.rechercher-btn {
    width: 100%;
    padding: 30px;
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 40px;
}

.rechercher-btn:hover {
    background-color: #5789BA;
}

.recherche {
    display: flex;
    flex-direction: column;

    justify-content: center;
    margin: 20px;
    gap: 15px

}

.articles {
    display: flex;
    flex-direction: column;

}


.article {
    display: flex;
    box-shadow: 5px 5px 7px 1px rgba(36, 82, 128, 0.78);
    /*box-shadow: 6px 6px 17px 2px #2B2B2B;*/
    padding: 10px;
    gap: 15px;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 20px;

}

.article a {
    color: black
}

.article img {
    width: 40%;
    height: 110px;
    object-fit: cover;
    align-items: center;
    border-radius: 20px 0 0 20px;
}

.article-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%
}

.article-details h2 {
    font-size: 12px;
    margin: 0;
}

.article-details p {
    margin: 0;
    font-size: 12px;
}


@media (min-width: 800px) {

    body {
        margin: 40px;

    }

    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .filtres {
        max-width: 400px;
    }

    .search {
        width: -webkit-fill-available;
        font-size: medium;
        height: 20px;
    }

    .categories {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 0;
        height: 26px;
        align-items: center;
        font-size: medium;
    }

    #idCategorie {
        height: 25px;
        font-size: medium;
        width: -webkit-fill-available;
        color: #333333;
    }

    .toutArticles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 15px;

    }

    .article {
        flex-direction: row;
    }

    .recherche {
        display: flex;
        flex-direction: column-reverse;

    }

    .rechercher-btn {
        width: 60%;
        justify-content: center;
        border: none;
        padding: 15px;
        font-size: large;
        background-color: #245280;
        /*#72A0C1*/
        color: white;
        margin: 0px;

    }

    .filtres-conteneur {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .bouton-conteneur {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .filtres-titre {
        font-size: 20px;
        font-weight: bolder;
    }

    .titreEnchere {
        text-align: center;
        font-size: 25px;
    }

}


