<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détail PC Gamer</title>
</head>
<body>
       	<header th:replace="~{fragments/fragment-entete :: entete}">
	</header>
	

            <h2>Détail Vente</h2>
    <h3>PC Gamer pour travailler</h3>


    <p>Description :</p>

    <p>Catégorie : Informatique</p>
    <p>Meilleure offre : </p>
    <p>Mise à prix :</p>
    <p>Fin de l'enchère : 09/10/2018</p>
    <p>Retrait : 10 Allée des Alouettes 44800 Saint-Herblain</p>

   <!-- il faut envoyer la recherche de  profil avec un get, et gérer ça soit dans la même méthode du controller soit dans une autre -->
        <p>Vendeur : <a th:href="@{/profil}">jojo44</a></p>
        
        <!-- <form action="/encherir" method="post"> -->
    <form action="">
    	<p>Ma proposition : <select type="number"></select> <button type="submit">Enchérir</button>
	</form>
	

    <a  th:href="@{/accueil}"><button>Retour</button></a>

</body>
</html>