<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détail PC Gamer</title>
</head>
<body>
       	<header th:replace="~{fragments/fragment-entete :: entete}">
	</header>
	
            <h2>Vous avez remporté l'enchère</h2>
        <h3 th:text="${article.nom}">Nom de l'article</h3>


        <p>Description : <span th:text="${article.description}">Description</span></p>
        <p>Catégorie :<span th:text="${article.categorie.libelle}">Catégorie</span></p>

        <div>
            <img th:src="@{'/images/' + ${article.cheminImg} + '.jpg'}"
                 alt="Image de l'article" />
        </div>


        <p>Meilleure offre :
            <span th:text="${article.prixVente}">0</span> crédits
            <span th:if="${derniereEnchere == null}">Aucune enchère</span>
        </p>
        <p>Mise à prix :<span th:text="${article.miseAPrix}">0</span> crédits</p>
        <p th:if="${article != null}">
            Fin de l'enchère :
            <span th:text="${article.dateFinEnchere}">date</span>


        <p>Retrait : <span th:if="${article.lieuRetrait == null}"
                           th:text="${article.utilisateur.rue + ' '
                           + article.utilisateur.codePostal + ' '
                           + article.utilisateur.ville}">Retrait : </span></p>





        <a  th:href="@{/portail-encheres}"><button>Retrait effectué</button></a>
        <a><button>Contacter</button></a>
        <a th:href="@{/portail-encheres}"><button>BACK</button></a>

</body>
</html>