<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Se connecter</title>

</head>

<body>
	<header th:replace="~{fragments/fragment-entete :: entete}"> </header>
	
	<form th:action="@{/connexion}" method="post">
 
		<p>
			Identifiant : <input type="text" name="pseudo" required>
		</p>
		<p>
			Mot de passe : <input type="password" name="motDePasse" required>
		</p>

		<button type="submit">Connexion</button>
		<input type="checkbox">Se souvenir de moi <a href="">Mot
			de passe oublié</a>
	</form>





	<a th:href="@{/inscription}">Créer un compte</a>

</body>


</html>