<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/connexion.css}">
    <title>Se connecter</title>

</head>

<body>
<header>
    <a th:replace="~{fragments/fragment-entete :: entete}"></a>
</header>
<main>
    <form th:action="@{/connexion}" method="post">
        <p>
            Identifiant : <input type="text" name="pseudo" required>
        </p>
        <p>
            Mot de passe : <input type="password" name="motDePasse" required>
        </p>
        <div class="boutons-connexion">
            <button type="submit">Connexion</button>
            <div class="boutons-connexion-mdp">
                <input type="checkbox" th:text="'Se souvenir de moi'">
                <a href="">Mot de passe oublié</a>
            </div>
        </div>
    </form>

    <div th:if="${erreur}" class="erreur">
        <p th:text="${erreur}"></p>
    </div>


    <a th:href="@{/inscription}">Créer un compte</a>
</main>
</body>

</html>