<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer compte</title>
</head>

<body>
	<header th:replace="~{fragments/fragment-entete :: entete}">
	</header>
    <h2>Créer un compte</h2>


<!-- <form th:object="${Utilisateur} action="/inscription" method="post"> -->
    <form th:action="@{/inscription}" th:object="${utilisateur}" method="post">


        <label for="">Pseudo :</label>
        <input type="text" th:field="*{pseudo}" pattern="[a-zA-Z0-9]+" required><br>

        <label for="">Nom :</label>
        <input type="text" th:field="*{nom}" required><br>

        <label for="">Prénom :</label>
        <input type="text" th:field="*{prenom}" required><br>

        <label for="">Email :</label>
        <input  type="email" th:field="*{email}" required><br>

        <label for="">Téléphone :</label>
        <input type="text" pattern="[0-9]+" th:field="*{telephone}" required><br>

        <label for="">Rue :</label>
        <input type="text" th:field="*{rue}" required><br>

        <label for="">Code Postal :</label>
        <input type="text"  pattern="[0-9]+" th:field="*{codePostal}" required><br>

        <label for="">Ville :</label>
        <input type="text" th:field="*{ville}" required><br>

        <label for="">Mot de passe :</label>
        <input type="password" th:field="*{motDePasse}" required><br>

        <label for="">Confirmation :</label>
        <input type="password" >
        <li>
				<button type="submit">Créer</button>
			</li>
    </form>

     <li>
				<a  th:href="@{/accueil}"><button>Annuler</button></a>
		</li>
    <p th:if="${erreur}" th:text="${erreur}"></p>


</body>

</html>