<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/nouvelle-vente.css}">
    <title>Nouvelle vente</title>
</head>
<body>
<header th:replace="~{fragments/fragment-entete :: entete}"></header>

    <h2>Nouvelle vente</h2>
<main>
    <div class="cadre-photo"></div>
    <form action="/creer-nouvelle-vente" method="post"
          th:object="${article}">



        <label for="inputNom">Article : </label><input type="text" id="inputNom" th:field="*{nom}">

        <label for="idCategorie">Catégorie :</label>
        <select th:field="*{categorie}" id="idCategorie">
            <option th:each="c : ${categories}" th:text="${c.libelle}"
                    th:value="${c.id}"></option>
        </select>

        <label for="taDescription">Description :</label> <textarea
            id="taDescription" rows="3" th:field="*{description}">
						</textarea>
        <label for="photo" th:text="'Photo de l\'article'"></label>
        <button id="photo" th:text="'UPLOADER'"></button>


        <label for="inputMiseAPrix">Prix initial : </label> <input
            type="number" id="inputMiseAPrix" th:field="*{miseAPrix}"/>
        <label for="inputdateDebutEnchere">Début de l'enchère</label>
        <input type="datetime-local" id="inputdateDebutEnchere" th:field="*{dateDebutEnchere}">

        <label for="inputdateFinEnchere">Fin de l'enchère</label>
        <input type="datetime-local" id="inputdateFinEnchere" th:field="*{dateFinEnchere}">

        <div class="cadre-retrait">
        <p th:text="'Retrait'"></p>
        <label for="rue" th:text="'Rue : '"></label>
        		<p th:text="${utilisateur.rue}"></p>
        <label for="cp" th:text="'Code postal : '"></label>
                <p th:text="${utilisateur.codePostal}"></p>
        <label for="ville" th:text="'Ville : '"></label>
                <p th:text="${utilisateur.ville}"></p>
        </div>

        <button type="submit" th:text="'Enregistrer'"></button>

        <button><a th:href="@{/accueil}" th:text="'Annuler'">

        </a></button>

    </form>
</main>
</body>
</html>