<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle vente</title>
</head>
<body>
        <header>
            <nav>
            <a href="/src/main/resources/templates/portail-encheres.html">
                <h1>Eni-Echères</h1>
            </a>
            </nav>
        </header>
        <h2>Nouvelle vente</h2>

    <p>Article :  <input type="text" name="" id=""></p>
    <p>Catégorie : <select></select></p>
    

    <p>Description : <textarea name="" id=""></textarea></p>

    <p>Photo de l'article</p>   <input type="file" name="" id="">
<br><br><br><br><br><br><br>

    <p>Prix initial : <input type="number" name="" id=""></p>
    <p>Début de l'enchère <input type="date" name="" id=""></p> 
    <p>Fin de l'enchère <input type="date" name="" id=""></p>

    <p>Retrait : 5 rue des Pinsons 44000 Nantes</p>

    <a href="/src/main/resources/templates/portail-encheres.html"><button type="button">Enregistrer</button></a>
    <a href="/src/main/resources/templates/portail-encheres.html"><button type="button">Annuler</button></a>

</body>
</html>