<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer Profil</title>
</head>

<body>
    <header>
        <nav>
            <a href="/src/main/resources/templates/portail-encheres.html">
                <h1>Eni-Echères</h1>
            </a>
        </nav>
    </header>
    <h2 style="text-align: center;">Mon profil</h2>

<div class="formulaire">
    <label for="">Pseudo :</label> <input type="text"><br>
    <label for="">Nom :</label> <input type="text"><br>
    <label for="">Prénom :</label> <input type="text"><br>
    <label for="">Email :</label> <input type="email"><br>
    <label for="">Téléphone :</label> <input type="number"><br>
    <label for="">Rue :</label> <input type="text"><br>
    <label for="">Code Postal :</label> <input type="number"><br>
    <label for="">Ville :</label> <input type="text"><br>
    <label for="">Mot de passe :</label> <input type="password"><br>
    <label for="">Confirmation :</label> <input type="password">
</div>

<br><br><br>

    <a href="/src/main/resources/templates/portail-encheres.html">Enregistrer</a>  <a href="/src/main/resources/templates/index.html">Supprimer mon compte</a> <a href="/src/main/resources/templates/index.html">Retour</a>


</body>
<br><br>
<a href="/src/main/resources/templates/index.html">Retour à l'accueil</a>

</html>