<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détail PC Gamer</title>
</head>
<body>
        <header>
            <nav>
            <a href="/src/main/resources/templates/portail-encheres.html">
                <h1>Eni-Echères</h1>
            </a>
            </nav>
        </header>
            <h2 style="text-align: center;">Détail Vente</h2>
    <h3>PC Gamer pour travailler</h3>


    <p>Description :</p>

    <p>Catégorie : Informatique</p>
    <p>Meilleure offre : </p>
    <p>Mise à prix :</p>
    <p>Fin de l'enchère : 09/10/2018</p>
    <p>Retrait : 10 Allée des Alouettes 44800 Saint-Herblain</p>

    <p>Vendeur : <a href="/src/main/resources/templates/profil-user.html">jojo44</a></p>
    <p>Ma proposition : <select type="number"></select> <button type="submit">Enchérir</button>

    <a href="/src/main/resources/templates/portail-encheres.html"><button type="submit">Retour</button></a>
</body>
</html>