<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
   	<header th:replace="~{fragments/fragment-entete :: entete}">
	</header>
	
	<a th:href="@{/inscription}">S'inscrire</a>
	<a th:href="@{/connexion}">Se connecter</a>
	<a th:href="@{/vente}">Se connecter</a>
	
	
    <h3>Liste des enchères</h3>

<!-- <form action="/accueil" method="post"> -->
    <form action="">
    <p>Filtres : </p>
    <p>Catégorie : <select name="" id=""></select></p>

        <input type="text" name="text" class="search" placeholder="Le nom de l'article contient">
        <button>Rechercher</button>
    </form>

    <div>
       <a th:href="@{/achats/details}"> <p>PC Gamer pour travailler</p></a>
        <p>Prix : 210 points Classement : 2</p>
        <p>Fin de l'enchère : 10/08/2018</p>
        <p>Retrait : 10 allée des Alouettes 44800 Saint-Herblain</p>
        <p>Vendeur : jojo44</p>

    </div>
</body>

</html>