<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Projet</title>
</head>

<body>
    <header class="entete">
        <h1>Eni enchères</h1>
        <a href="/src/main/resources/templates/connexion.html">S'inscrire - se connecter</a>

    </header>
    <h3 style="text-align: center;">Liste des enchères</h3>
<br><br>
    <p>Filtres : </p>
    <p>Catégorie : <select name="" id=""></select></p>
    <form>
        <input type="text" name="text" class="search" placeholder="Le nom de l'article contient">
    </form>
<br>
    <button>Rechercher</button>
<br><br>

    <div>
       <a href="/src/main/resources/templates/detail-vente.html"> <p>PC Gamer pour travailler</p></a>
        <p>Prix : 210 points Classement : 2</p>
        <p>Fin de l'enchère : 10/08/2018</p>
        <p>Retrait : 10 allée des Alouettes 44800 Saint-Herblain</p>
        <p>Vendeur : jojo44</p>

    </div>
</body>

</html>