<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Projet</title>
</head>

<body>
    <header>
        <h1>Eni enchères</h1>
        <a href="./Pages/connexion.html">S'inscrire - se connecter</a>

    </header>
    <h3 style="text-align: center;">Liste des enchères</h3>
<br><br>
    <p>Filtres : </p>
    <p>Catégorie : <select name="" id=""></select></p>
    <form>
        <input type="text" name="text" class="search" placeholder="Le nom de l'article contient">
    </form>
<br>
    <button>Rechercher</button>
<br><br>

    <div>
       <a href="/Pages/detail-vente.html"> <p>PC Gamer pour travailler</p></a>
        <p>Prix : 210 points Classement : 2</p>
        <p>Fin de l'enchère : 10/08/2018</p>
        <p>Retrait : 10 allée des Alouettes 44800 Saint-Herblain</p>
        <p>Vendeur : jojo44</p>

        <img src="./Images/pc gamer 1.webp" alt="" width="20%">
    </div>

    <div>
        <a href="/Pages/detail-vente.html"><p>Rocket Stove pour riz et pâtes</p></a>
        <p>Prix : 185 points</p>
        <p>Fin de l'enchère : 09/10/2018</p>
        <p>Retrait : 5 rue des Pinsons 44000 Nantes</p>
        <p>Vendeur : NineJea</p>

        <img src="/Images/rocketStove.png" alt="" width="20%">

    </div>
</body>

</html>