<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/profil.css}">
    <title>Modifier Profil</title>
</head>

<body>
<header>
    <a th:replace="~{fragments/fragment-entete :: entete}"></a>
</header>
<main>
    <h2>Mon profil</h2>

    <form class="formulaire" th:object="${utilisateur}" th:action="@{/profil/modifier}" method="post">

        <label for="">Pseudo :</label>
        <input type="text" th:field="*{pseudo}" pattern="[a-zA-Z0-9]+" required placeholder th:value="*{pseudo}">

        <label for="">Nom :</label>
        <input type="text" th:field="*{nom}" required placeholder th:value="*{nom}">

        <label for="">Prénom :</label>
        <input type="text" th:field="*{prenom}" required placeholder th:value="*{prenom}">

        <label for="">Email :</label>
        <input type="email" th:field="*{email}" required placeholder th:value="*{email}">

        <label for="">Téléphone :</label>
        <input type="text" pattern="[0-9]+" th:field="*{telephone}" required placeholder th:value="*{telephone}">

        <label for="">Rue :</label>
        <input type="text" th:field="*{rue}" required placeholder th:value="*{rue}">

        <label for="">Code Postal :</label>
        <input type="text" pattern="[0-9]+" th:field="*{codePostal}" required placeholder th:value="*{codePostal}">

        <label for="">Ville :</label>
        <input type="text" th:field="*{ville}" required placeholder th:value="*{ville}">

        <label for="">Mot de passe :</label>
        <input type="password" th:field="*{motDePasse}" required placeholder th:value="*{motDePasse}">

        <label for="">Confirmation :</label>
        <input type="password">

        <button type="submit">Appliquer les modifications</button>

        <label for="">Crédit :</label>
        <input type="text" th:field="*{credit}" readonly>

    </form>

    <!--ajouter une pop up pour verifier la suppression du compte-->
    <form class="formulaire" action="/profil/supprimer" method="post"
          onsubmit="return confirm('Es-tu sûr de vouloir supprimer ton compte ? Cette action est irréversible.')">
        <button type="submit">Supprimer mon compte</button>
    </form>
    <button class="formulaire"><a  th:href="@{/profil}">Retour</a></button>

</main>
</body>
</html>