<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portail enchères</title>
</head>
<body>
    	<header th:replace="~{fragments/fragment-entete :: entete}">
	</header>

    <a href="/src/main/resources/templates/creer-nouvelle-vente.html">Vendre un article</a><br>
    <a href="/src/main/resources/templates/profil-user.html">Mon profil</a><br>
    <a href="/src/main/resources/templates/index.html">Déconnexion</a><br><br>
    
    Filtres :
<br><br>
    <input type="radio">Achats   <br><br>
        <input type="checkbox" name="" id="">enchères ouvertes<br>
        <input type="checkbox" name="" id="">mes enchères en cours<br>
        <input type="checkbox" name="" id="">mes enchères remportées<br><br>
    
    <input type="radio" name="" id="">Mes ventes    <br><br>  
        <input type="checkbox" name="" id="">mes ventes en cours<br>
        <input type="checkbox" name="" id="">ventes non débutées<br>
        <input type="checkbox" name="" id="">ventes terminées<br><br>

    Catégories : <select name="" id=""></select><br><br>

    <input type="text" name="text" class="search" placeholder="Le nom de l'article contient">
<br><br>
    <button href="">Rechercher</button>

    <div>
        <a href="/src/main/resources/templates/detail-vente.html">
            <p>PC Gamer pour travailler</p>
        </a>
        <p>Prix : 210 points Classement : 2</p>
        <p>Fin de l'enchère : 10/08/2018</p>
        <p>Retrait : 10 allée des Alouettes 44800 Saint-Herblain</p>
        <p>Vendeur : <a href="/src/main/resources/templates/profil-user.html">jojo44</a></p>
    
        <img src="/src/main/resources/static/images/pc gamer 1.webp" alt="" width="20%">
    </div>

    
</body>
</html>