<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Portail enchères</title>
</head>
<body>
<header th:replace="~{fragments/fragment-entete :: entete}">
</header>


    <a th:href="@{/vente}" th:text="'Vendre un article'"></a>
    <a th:href="@{/profil}" th:text="'Mon profil'"></a>
    <a th:href="@{/session-cloture}" th:text="'Déconnexion'"></a>
    
  
    
    
    <form action="/portail-encheres" method="get">

        <p th:class="filtres" th:text="'Filtres : '" ></p>
		
        <input  class="radioAchat" type="radio" th:name ="radio" id="radioAchats" th:value="achats" checked>
       <label for="radioAchats" th:text="'Achats'"></label>
 <div class="achats">
        <input type="checkbox"
               th:name="'checkbox'"
               id="encheresOuvertes"
               th:value="'encheresOuvertes'"
               checked>
          <label for="encheresOuvertes" th:text="'enchères ouvertes'"></label>

        <input type="checkbox"
               th:name="'checkbox'"
               id="encheresEnCours"
               th:value="'encheresEnCours'">
        <label for="encheresEnCours" th:text="'mes enchères en cours'"></label>

        <input type="checkbox"
               th:name="'checkbox'"
               id="encheresRemportées"
               th:value="'encheresRemportées'">
        <label for="encheresRemportées" th:text="'mes enchères remportées'"></label>
  </div>
  
       <input  class="radioVentes"
        type="radio"
              th:name ="radio"
             id="radioVentes"
             th:value="ventes">

        <label for="radioVentes" th:text="'Mes ventes'"></label>
      <div class="ventes">
        <input type="checkbox"
               th:name="'checkbox'"
               id="ventesEnCours"
               th:value="'ventesEnCours'">
               
        <label for="ventesEnCours" th:text="'mes ventes en cours'"></label>

        <input type="checkbox"
               th:name="'checkbox'"
               id="ventesNonDebutees"
               th:value="'ventesNonDebutees'">
        <label for="ventesNonDebutees" th:text="'ventes non débutées'"></label>

        <input type="checkbox"
               th:name="'checkbox'"
               id="ventesTerminees"
               th:value="'ventesTerminees'"
               th:attr="radio=achats? disabled : checked">
        <label for="ventesTerminees" th:text="'ventes terminées'"></label>
        </div>
        <div th:class="categories">
            <label>Catégorie</label>
            <select name="idCategorie" id="idCategorie">
                <option th:value="0"
                        th:selected="${idCategorie == 0}"
                        th:text="'Toutes'">
                </option>
                <option th:each="c : ${categories}"
                        th:value="${c.id}"
                        th:text="${c.libelle}"
                        th:selected="${c.id == idCategorie}">
                </option>
            </select>
        </div>
        <div th:class="recherche">
            <input type="text" name="text" class="search"
                   th:value="${text}" th:placeholder="'Le nom de l\'article contient'">
            <button th:class="rechercher-btn" th:text="'Rechercher'"></button>
        </div>
    </form>

        <div class="articles" th:class="articles" th:each="article : ${articlesAAfficher}">
            <div class="article">
                <img th:src="@{'/images/' + ${article.cheminImg} + '.jpg'}" th:alt="'Photo de l\'article'">
                <div class="article-details">
                    <a th:href="@{/achats/details(id=${article.id})}"> <h2 th:text="${article.nom}"></h2></a>
                    <p th:text="'Prix : ' + ${article.miseAPrix} + ' points'"></p>
                    <p th:text="'Fin de l enchère : ' + ${#temporals.format(article.dateFinEnchere,'dd/MM/yyyy')}" ></p>
                    <p th:text="'Retrait : ' + ${article.utilisateur.rue} + ' ' + ${article.utilisateur.codePostal} + ' ' + ${article.utilisateur.ville}" ></p>
                    <a th:href="@{/profil(id=${article.utilisateur.id})}"><p th:text="'Vendeur : ' + ${article.utilisateur.pseudo}" ></p></a>
                </div>
            </div>
        </div>

</body>
</html>

