<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portail enchères</title>
</head>
<body>
    <header>
        <nav>
            <h1>Eni-Echères</h1>
        </nav>
    </header>

    <a href="">Vendre un article</a><br>
    <a href="">Mon profil</a><br>
    <a href="">Déconnexion</a><br><br>
    
    Filtres :
<br><br>
    <input type="radio">Achats   <br><br>
        <input type="checkbox" name="" id="">enchères ouvertes<br>
        <input type="checkbox" name="" id="">mes enchères en cours<br>
        <input type="checkbox" name="" id="">mes enchères remportées<br><br>
    
    <input type="radio" name="" id="">Mes ventes    <br><br>  
        <input type="checkbox" name="" id="">mes ventes en cours<br>
        <input type="checkbox" name="" id="">ventes non débutées<br>
        <input type="checkbox" name="" id="">ventes terminées<br><br>

    Catégories : <select name="" id=""></select><br><br>

    <input type="text" name="text" class="search" placeholder="Le nom de l'article contient">
<br><br>
    <button href="">Rechercher</button>

    <div>
        <a href="">
            <p>PC Gamer pour travailler</p>
        </a>
        <p>Prix : 210 points Classement : 2</p>
        <p>Fin de l'enchère : 10/08/2018</p>
        <p>Retrait : 10 allée des Alouettes 44800 Saint-Herblain</p>
        <p>Vendeur : <a href="/Pages/profil-user.html">jojo44</a></p>
    
        <img src="/Images/pc gamer 1.webp" alt="" width="20%">
    </div>

    
</body>
</html>