<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
</head>

<body>
  	<header th:replace="~{fragments/fragment-entete :: entete}">
	</header>
	<!-- <span data-th-text="'[' + ${utilisateurEnSession.prenom} + ']'"></span></h2> -->
    <h2>(Nom du profil)</h2>
    
<div class="formulaire">
    <label for="">Pseudo :</label> <input type="text"><br>
    <label for="">Nom :</label> <input type="text"><br>
    <label for="">Prénom :</label> <input type="text"><br>
    <label for="">Email :</label> <input type="email"><br>
    <label for="">Téléphone :</label> <input type="number"><br>
    <label for="">Rue :</label> <input type="text"><br>
    <label for="">Code Postal :</label> <input type="number"><br>
    <label for="">Ville :</label> <input type="text"><br>
    <label for="">Mot de passe :</label> <input type="password"><br>
    <label for="">Crédit :</label> <input type="number" >
</div>

<!-- Changer le bouton si pas le bon profil -->
    <a th:href="@{/profil/modifier}">Modifier</a>
    <a th:href="@{/accueil}">Accueil</a>
    <!--Mettre un bouton retour à la page précédente si on sait faire -->


</body>

</html>