<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détail Vente</title>
</head>
<body>
       	<header th:replace="~{fragments/fragment-entete :: entete}">
	</header>
	         <h2>Détail Vente</h2>
    <h3 th:text="*{nom}"></h3>


        <div>
            <img th:src="@{'/images/' + *{cheminImg} + '.jpg'}" alt="Photo de l\'article">
            <p th:text="'Description : ' + *{description}"></p>
            <p th:text="'Catégorie : ' + ${categorieArticle.libelle}"></p>
            <p th:if="${derniereEnchere != null}"
               th:text="'Meilleure offre : ' + ${derniereEnchere.montantEnchere} + ' pts par ' + ${derniereEnchere.utilisateur.pseudo}">
            </p>
            <p th:if="${derniereEnchere == null}">Aucune enchère pour le moment.</p>
            <p th:text="'Mise à prix : ' + *{miseAPrix} + ' points'"></p>
            <p th:text="'Fin de l\'enchère : ' + *{#temporals.format(dateFinEnchere,'dd/MM/yyyy')}"></p>
            <p th:text="'Retrait : ' + *{utilisateur.afficherRetrait()}"></p>
            
                    <a th:href="@{/profil(id=${article.getUtilisateur().getId()})}"><p th:text="'Vendeur : ' + ${article.utilisateur.pseudo}" ></p></a>
        </div>
    
    
    <div  th:if="${nonDebutee}">
    <a  th:href="@{/accueil}"><button>Annuler la vente</button></a>
	</div>
	
	<div  th:if="${vendu}">
    <a  th:href="@{/retire}"><button>Retrait effectué</button></a>
       <a th:href="@{/profil}"><button>Contacter "Profil.prenom"</button></a>
       </div>
   <a  th:href="@{/accueil}"><button>Retour</button></a>
</body>
</html>