<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détail PC Gamer</title>
</head>
<body>
       	<header th:replace="~{fragments/fragment-entete :: entete}">
	</header>
	       <!-- Afficherle bon titre en fonction des cas -->
            <h2>Jojo a remporté l'enchère !</h2>
            <h2>Détail Vente</h2>
    <h3>PC Gamer pour travailler</h3>


    <p>Description :</p>

    <p>Catégorie : Informatique</p>
    <p>Meilleure offre : </p>
    <p>Mise à prix :</p>
    <p>Fin de l'enchère : 09/10/2018</p>
    <p>Retrait : 10 Allée des Alouettes 44800 Saint-Herblain</p>

    <p>Vendeur : <a h th:href="@{/profil}">jojo44</a></p>
    
    
    	       <!-- Afficherle les boutons en fonction des cas -->
    <a  th:href="@{/accueil}"><button>Annuler la vente</button></a>

   <a  th:href="@{/accueil}"><button>Retour</button></a>
    <a  th:href="@{/retire}"><button>Retrait effectué</button></a>
    	       <!-- mettre Profil.prenom en thymeleaf-->
       <a  th:href="@{/profil}"><button>Contacter "Profil.prenom"</button></a>
</body>
</html>